body {
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;

  background-color: #ecf0f1;

  color: #6c7a89;
  font-weight: 400;
  font-size: 16px;
}

#content {
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  margin-bottom: 55px;
}

header a {
  color: #6c7a89;
  text-decoration: none;
}

header a:hover small {
  color: #9b59b6;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-bottom: 0;
}

h1 small {
  font-size: 26px;
}

h1 span {
  padding-left: 2px;
}

.links {
  font-size: 24px;
  cursor: default;
}

.links a {
  padding: 10px;
}

.github:hover {
  color: #e67e22;
}

.twitter:hover {
  color: #3498db;
}

/* fade in icons */

@-webkit-keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-icons {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.links {
  -webkit-animation: fade-icons 2s;
  -moz-animation: fade-icons 2s;
  -o-animation: fade-icons 2s;
  animation: fade-icons 2s;
}

/* fade in header email parts */

@-webkit-keyframes fade-email {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fade-email {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

@-o-keyframes fade-email {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fade-email {
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
}

header a small {
  -webkit-animation: fade-email 2s;
  -moz-animation: fade-email 2s;
  -o-animation: fade-email 2s;
  animation: fade-email 2s;
}
