body {
  font-family: 'Raleway', 'Helvetica Neue', sans-serif;

  background-color: #ecf0f1;

  color: #6C7A89;
  font-weight: 400;
  font-size: 16px;
}

#content {
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header {
  margin-bottom: 55px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-bottom: 0;
}

h1 span {
  padding-left: 2px;
}

a {
  color: #768596;
}

.links {
  font-size: 24px;
  cursor: default;
}

.links a {
  padding: 10px;
}

.email a {
  padding: 10px;
}

.email a {
  text-decoration: none;
  letter-spacing: 1px;
}

.email a:hover span {
  color: #e67e22;
}

.github:hover {
  color: #9b59b6;
}

.twitter:hover {
  color: #3498db;
}

/* fade in icons */

@-webkit-keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-icons {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-icons {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.links {
  -webkit-animation: fade-icons 2s;
  -moz-animation: fade-icons 2s;
  -o-animation: fade-icons 2s;
  animation: fade-icons 2s;
}
